# for verify
args.js
.env

# Foundry
cache/
cache_forge/
out/

# JS
node_modules/
package-lock.json
pvkey.js

# Hardhat files
cache_hardhat/
artifacts/

tasks/

# Hardhat plugin files
typechain-types/

abi
build
ignition/deployments/chain-31337/

# flattened contract file
contracts/flatten.sol
