# for verify
args.js
.env

# Foundry
cache/
cache_forge/
out/

# JS
node_modules/
package-lock.json
pvkey.js

# Hardhat files
cache_hardhat/
/artifacts/

tasks/

# Hardhat plugin files
typechain-types/

build
ignition/deployments/chain-31337/
ignition/deployments/test/

# flattened contract file
contracts/flatten.sol
